!!!
%html{:lang => "en"}
 %head
 %title Title
 %body{:style => "margin:0px"}
  %table{:width => "100%",:bgcolor => "#333333",:style => "padding:20px 0px"}
   %tr
    %td
     %table{:width => "80%",:style => "margin:0 auto"}
      %tr
       %td
        %h1{:style => "color:#c0bab6;margin:0px"} Basic 86
        %p{:style => "color:#c0bab6;margin:0px"} Free HTML5 Website Template
       %td{:align => "right"}
        %table{:bgcolor => "#232323",:cellpadding => "15"}
         %tr
          %td{:style => "color:#c0bab6;margin:0px"} TEXT LINK
          %td{:style => "color:#c0bab6;margin:0px"} TEXT LINK
          %td{:style => "color:#c0bab6;margin:0px"} TEXT LINK
          %td{:style => "color:#c0bab6;margin:0px"} TEXT LINK
  %table{:width => "80%",:style => "margin:20px auto",:cellspacing => "10"}
   %tr
    %td{:style =>"background-color:#dedede;width:30%;padding:0px 20px"}
     %h2{:style => "color:#989898;font-style:italic;font-size:42px"}Eu justo augue estas
     %p{:style =>"color:#989898"}Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.
    %td
     %img{:src=>"images/image1.gif",:width => "100%",:height => "100%"}
  %table{:width => "80%",:style => "margin:20px auto"}
   %tr
    %td
     %table{:cellspacing => "10"}
      %tr
       %td{:colspan => 2}
        %h2{:style => "color:#979797;font-size:14px"}LORUM IPSUM DOLOR
      %tr
       %td{:style => "vertical-align:top"} 
        %img{:src=>"images/image2.gif"}
       %td
        %p{:style =>"color:#979797;font-size:14px;line-height:20px;margin:0px"} Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet.
    %td
     %table{:cellspacing => "10"}
      %tr
       %td{:colspan => 2}
        %h2{:style => "color:#979797;font-size:14px"}LORUM IPSUM DOLOR
      %tr
       %td{:style => "vertical-align:top"}
        %img{:src=>"images/image2.gif"}
       %td
        %p{:style =>"color:#979797;font-size:14px;line-height:20px;margin:0px"} Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet.
    %td
     %table{:cellspacing => "10"}
      %tr
       %td{:colspan => 2}
        %h2{:style => "color:#979797;font-size:14px"}LORUM IPSUM DOLOR
      %tr
       %td{:style => "vertical-align:top"} 
        %img{:src=>"images/image2.gif"}
       %td
        %p{:style =>"color:#979797;font-size:14px;line-height:20px;margin:0px"} Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet. 
  %table{:width => "80%",:style => "margin:20px auto",:cellspacing => "10"}
   %tr
    %td
     %table{:width => "25%"}
      %tr
       %td
        %img{:src=>"images/image3.gif"} 
      %tr
       %td
        %h2{:style => "color:#979797;font-size:14px"} INDONECTETUS FACILIS
        %p{:style => "color:#979797;font-size:13px;line-height:20px"} Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
    %td
     %table{:width => "25%"}
      %tr
       %td
        %img{:src=>"images/image3.gif"} 
      %tr
       %td
        %h2{:style => "color:#979797;font-size:14px"} INDONECTETUS FACILIS
        %p{:style => "color:#979797;font-size:13px;line-height:20px"} Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
    %td
     %table{:width => "25%"}
      %tr
       %td
        %img{:src=>"images/image3.gif"} 
      %tr
       %td
        %h2{:style => "color:#979797;font-size:14px"} INDONECTETUS FACILIS
        %p{:style => "color:#979797;font-size:13px;line-height:20px"} Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
    %td
     %table{:width => "25%"}
      %tr
       %td
        %img{:src=>"images/image3.gif"} 
      %tr
       %td
        %h2{:style => "color:#979797;font-size:14px"} INDONECTETUS FACILIS
        %p{:style => "color:#979797;font-size:13px;line-height:20px"} Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. 
  %table{:width => "100%",:bgcolor => "#232323"}
   %tr
    %td
     %table{:width => "80%",:style => "margin:20px auto"}
      %tr
       %td
        %p{:style => "color:#919191;font-size:14px"} Copyright © 2009 - 2019 - All Rights Reserved - Domain 
       %td{:style => "color:#919191;font-size:14px"}
        %p Template by OS Templates
 

       





   


